<div id="nav">
<%= link_to('Home', root_path) %>
</div>
<h2 class="username"><%= @user.username %></h2>
<h3>Name: <%= "#{@user.first_name} #{@user.last_name}" %></h3>

<div class="favorites">
  <h3 id="favorites">Favorites</h3>
    <ul class="favorites-list">
      <% @user.restaurants.each do |restaurant| %>
        <li class= "favorite-restaurant"><%= link_to(restaurant.name, restaurant_path(restaurant)) %></li>
      <% end %> 
    </ul>
</div>

<div class="reviews">
  <h3 id="reviews">Reviews</h3>
    <div class="reviews-list">
      <% @user.reviews.each do |review| %>
        <div class="restaurant-name"><%= review.restaurant.name %></div>
        <div class="comment"><%= review.comment %></div>
        <div class="worth-it"><%= review.worth_it %></div>
      <% end %>
    </div>
</div>