<div id="nav">
<%= link_to('Home', root_path) %>
</div>
<h2 class="username"><%= @user.username %></h2>
<h3>Name: <%= "#{@user.first_name} #{@user.last_name}" %></h3>
<div class="favorites">
<h3 id="favorites">Favorites</h4>
  <% @user.restaurants.each do |restaurant| %>
    <ul class="favorites-list">
      <li class= "favorite-restaurant"><%= link_to(restaurant.name, restaurant_path(restaurant)) %></li>
    </ul>
  <% end %> 
</div>
</h4>
<h4 id="reviews">
  <% @user.reviews.each do |review| %>
    <div class="reviews">
      <%= review.restaurant.name %>
      <%= review.comment %>
      <%= review.worth_it %>
    </div>
  <% end %>
</h4>