<% google_maps_key = ENV["GOOGLE_MAPS_KEY"] %>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps_key %>">
</script>

<script type="text/javascript">
      function initialize() {
  var myLatlng = new google.maps.LatLng(<%= @restaurant.latitude %>,<%= @restaurant.longitude %>);
  var mapOptions = {
    zoom: 16,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: '<%= @restaurant.name %>'
  });

}

google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<%= button_to 'Favorite', '/favorite', remote: true, method: :post, params: {id: @restaurant.id}, id: 'favorite' %>

<h2><%= @restaurant.name %></h2>
<p>
  <%= @restaurant.address %> <%= @restaurant.zip_code %>
</p>
<p>
  <%= @restaurant.telephone %>
</p>
<p>
  <a href="<%= @restaurant.website %>" target="_blank"><%= @restaurant.website %></a>
</p>
<p>
  <%= @restaurant.cuisine %>
</p>
<p>
  <%= @restaurant.hours %>
</p>
<div id="map-canvas" class="restaurant-show-map"></div>

<% if user_signed_in? %>
  <%= render 'reviews/form' %>
<% end %>

<% @restaurant.reviews.each do |review| %>
  <%= link_to(review.user.username, user_path(review.user.id)) %>
  <%= review.worth_it %>
  <%= review.comment %>
<% end %>

