<h2><%= @restaurant.name %></h2>
<p>
  <%= @restaurant.address %> <%= @restaurant.zip_code %>
</p>
<p>
  Latitude: <%= @restaurant.latitude %> Longitude: <%= @restaurant.longitude %>
</p>
<p>
  <%= @restaurant.telephone %>
</p>
<p>
  <a href="<%= @restaurant.website %>" target="_blank"><%= @restaurant.website %></a>
</p>
<p>
  <%= @restaurant.cuisine %>
</p>
<p>
  <%= @restaurant.hours %>
</p>
