<!DOCTYPE html>
<html>
<head>
  <title>froogalr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
    Welcome back, <%= current_user.first_name %>! |
    <%= link_to('Sign out', destroy_user_session_path, method: :delete)%> |
    <%= link_to('Edit Account', edit_user_registration_path) %> |
<% else %>
  <%= link_to('Sign in', new_user_session_path) %> |
  <%= link_to('Sign up', new_user_registration_path) %>
<% end %>
<%= link_to('Restaurants', restaurants_path) %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
